.body{
    font-family: 'Nunito';
    background-color: darkgrey;

}
#img-bg{
    background-image: url('/bg-masthead.jpg');
    height: 800px;
    

    background-size: cover;
}
#m1 {
    margin-top: 200px;
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: .8rem;
}

#m2 {
    font-size: 1.5rem;
 
}
#bouton {
    background-color: #64a19d;
    
}
#pt {
    padding-top: 200px;
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
   
}
#bg1 {
    height: 350px;
    width:100%;
}
#pt2{
    padding-top: 180px;
    padding-bottom: 180px;
    
}
#h4{
    padding-top: 90px;
    
}
#bg2 {
    height: 333px;
    width: 100%;
   

}
#pt3{
    padding-top: 120px;
    background-color: black
}
.t1 {
    border-left: solid aquamarine 5px;
    padding-left: 30px;
}
#barre1 {
    background-color: aquamarine;
    width: 30%;
}
#barre2 {
    background-color: aquamarine;
    width: 30%;
}
hr {
    height: 5px;
}
#bouton-search {
    background-color: aquamarine;
    height: 51px;
}
#inputEmail {
    width: 666px;
}
#bg-footer{
    background-image: url('./cs6-simple-recap/images/bg-signup.jpg');
    height: 450px;
    background-size: cover;
    
}
#centrer{
    margin-top: 100px;
}
#bg-contact{
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
    padding-top: 150px;
    padding-bottom: 66px;
}
.text{
    text-decoration: none !important; 
    color: aquamarine;
}
#text {
    text-decoration: none !important;
    color: #64a19d;
}
#copyright{
    
}
#icones{
    padding-top: 80px !important;
}

/* background: linear-gradient(to bottom,#161616 0, rgba(22,22,22,.8) 100%,rgba(22,22,22,.9) 75% 
background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%); */